[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
